@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mea+Culpa&family=Source+Code+Pro&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carrinho {
    background-color: #fffffff7;
    /* background-color: #fff; */
    color: #000000;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 500px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21);
    z-index: 999;
}

#carrinho #cabecalhoCarrinho {
    font-family: "Mea Culpa", cursive;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d1d1d1;
}

#carrinho #cabecalhoCarrinho button {
    background-color: #ffffff00;
    color: #000000;
    border: none;
    cursor: pointer;
}

#carrinho #cabecalhoCarrinho button:hover {
    color: #808080;
}

#carrinho #conteudoCarrinho {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    background-color: #ffffffa6;
    padding: 10px;
    max-height: 80vh;
    position: relative;
    border-radius: 10px;
    /* box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75); */
    /* height: 85vh; */
    overflow-y: auto;
}

#carrinho #conteudoCarrinho img {
    margin-bottom: 10px;
}

#carrinho #conteudoCarrinho article {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    position: relative;

}

#carrinho #conteudoCarrinho article button {
    color: #000000;
    border: none;
    background-color: #fff;
    right: 0;
    cursor: pointer;
}

#carrinho #conteudoCarrinho #quantidadeProduto {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 45px;
    bottom: 20px;
    border: solid 1px rgb(202, 202, 202);
    padding: 3px 0;
    border-radius: 10px;
    font-family: "Source Code Pro", monospace;
    font-weight: 900;
    min-width: 80px;
}

#carrinho #conteudoCarrinho #quantidadeProduto p {
    margin: 0 5px;
}

#carrinho #conteudoCarrinho #quantidadeProduto button {
    display: flex;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-weight: 900;
    font-size: 16px;
    padding: 0 10px;
    background-color: #ffffff00;
}


/* #carrinho #conteudo-carrinho #quantidade-produto p {
    padding: 0px 10px 0px 7px;
    border: solid 1px rgb(202, 202, 202);
} */

#carrinho #infoConteudoCarrinho {
    margin-left: 15px;
    width: 100%;
}

#carrinho #infoConteudoCarrinho p {
    margin-top: 10px;
}

#carrinho #detalhesCarrinho {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    align-items: center;
    margin: 20px 15px 0px 15px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 500px;


    /* border-bottom: 1px solid #a1a1a1; */
    border-top: 1px solid #d1d1d1;
}

#carrinho #detalhesCarrinho p {
    margin-top: 10px;
}

#carrinho #detalhesCarrinho button {
    font-size: 15px;
    margin-top: 10px;
    background-color: #000000;
}

@media screen and (max-width: 1500px) {
    #carrinho {
        width: 450px;
    }

    #carrinho #conteudoCarrinho {
        max-height: 65vh;
    }
}

@media screen and (max-width: 670px) {
    #carrinho {
        margin-top: 60px; 
        width: 100%;
        border-radius: 0px;
    }

    /* #carrinho #conteudo-carrinho {
        min-height: 90vh;
    } */

    #carrinho #cabecalhoCarrinho {
        font-size: 20px;
    }

    #carrinho #conteudoCarrinho {
        margin: 15px 5px;
    }

    #carrinho #conteudoCarrinho article button {
        color: #000000;
        border: none;
        background-color: #fff;
        right: 0;
        cursor: pointer;
    }

    #carrinho #detalhesCarrinho {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 90%;
        border-top: 1px solid #d1d1d1;
    }

    #carrinho #infoConteudoCarrinho {
        margin-left: 15px;
        width: 100%;
    }

    #carrinho #conteudoCarrinho img {
        height: 100px;
    }

    #carrinho #infoConteudoCarrinho p {
        margin-top: 10px;
        font-size: 12px;
    }

    #carrinho #conteudoCarrinho #quantidadeProduto {
        min-width: 30px;
        font-size: 12px;
        right: 35px;
        bottom: 20px;
    }

    #carrinho #conteudoCarrinho #quantidadeProduto button {
        font-size: 13px;
        padding: 0 9px;
    }
}