.nav {
    /* display: flex; */
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

/* .titulo {
    font-size: var(--font-large-size);
    font-weight: bold;
}

.verTudo {
    text-decoration: none;
    color: #007BFF;
} */

.containerCarrossel {
    font-family: var(--font-family);
    position: relative;
    display: flex;
    align-items: center;
}

.carrossel {
    display: flex;
    /* overflow-x: auto; */
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 0;
}

.setaEsquerda,
.setaDireita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: var(--font-large-size);
    padding: 0.5rem;
    z-index: 1;
}

.setaEsquerda {
    left: 0;
}

.setaDireita {
    right: 0;
}

/* media query mobile */
@media (max-width: 768px) {
    .carrossel {
        overflow-x: auto;
        gap: 0.5rem;
        padding: 0 2rem;
    }

    .carrossel::-webkit-scrollbar {
        display: none;
    }

    .setaEsquerda,
    .setaDireita {
        display: none;
    }
}