@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mea+Culpa&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.cabecalho {
    background-color: #0d0d0d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.078);
    height: 90px;
    font-family: "Bree Serif", serif;
    font-weight: 200;
}

.cabecalho .logo img {
    display: flex;
    width: 120px;
    /* margin: 165px; */
}

.cabecalho .icons {
    display: flex;
    /* margin: 165px; */
}

.cabecalho .icons img {
    width: 20px;
    margin-right: 20px;
    /* margin-left: 10px; */
    /* margin: 165px; */
}

.cabecalho .icons button {
    display: flex;
    align-items: center;
    margin-top: 2px;
    justify-content: center;
    background-color: #0d0d0d;
    border: none;
    cursor: pointer;

    /* margin-left: 10px; */
    /* margin: 165px; */
}

/* .cabecalho ul li img {
    display: flex;
    flex-wrap: wrap;
    width: 20px;

} */


.itensHeader {
    display: flex;
    align-items: center;
    /* padding: 200px; */
}

.itensHeader ul li {
    font-size: 16px;
    display: inline-flex;
    margin: 20px;
}

.itensHeader ul li a {
    text-decoration: none;
    color: #dddddd;
}

.itensHeader ul li a:hover {
    color: #ffffff;
    /* color: #96abcc; */
    /* color: #687ea0; */
    /* color: #a06868; */
}


#opcao-dropdown {
    padding: 40px 20px;
}

 .dropdown-produtos ul{
    display: flex;
}

ul li ul.dropdown-produtos li {
    display: block;
}

ul li ul.dropdown-produtos {
    top: 90px;
    /* left: 0;
    width: 100%; */
    margin: auto;
    background-color: #ffffffec;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
}

ul li ul.dropdown-produtos a {
    color: #0d0d0d;
}

ul li ul.dropdown-produtos a:hover {
    color: #b9b9b9;
}

ul li ul.dropdown-produtos ul li {
    display: flex;
}

ul li:hover ul.dropdown-produtos {
    display: block;
}

/* ul.dropdown-produtos:hover {
    background-color: #ff0000;
} */