@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mea+Culpa&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bree Serif", serif;
    font-weight: 400;
}

#indicador-pagina {
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 90px;
    height: 90px;
    font-size: 18px;
    width: 100vw;
    font-family: "Inter", cursive;
}

#indicador-pagina ul li {
    display: inline;
}

#indicador-pagina ul li a {
    color: #5f5f5f;
    text-decoration: none;
}

/* --------------------- */

#container-produtos {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-produto {
    background-color: rgb(255, 255, 255);
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
    transition: ease 0.2s;
}

.card-produto:hover {
    /* box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21); */
    cursor: url('/icon/gta-pointer.cur'), auto;
    box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.178);
    -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.178);
    -moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.178);
}

.card-produto img {
    margin-top: 15px;
    width: 270px;
}

.card-produto p {
    padding: 10px 0px 3px 0px;
}

.card-produto #paragrafo-preco {
    color: #144E84;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.botao-style {
    width: 150px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: #0d0d0d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin: 12px;
    transition: ease 0.2s;
}

.botao-style:hover {
    /* background-color: #181e36ee; */
    background-color: #0b0b0b;
    font-size: px;
    text-shadow: 0 0 5px #ffffff56, 0 0 10px #ffffff56, 0 0 1px #ffffff56, 0 0 2px #ffffff56,
    0 0 30px #ffffff56, 0 0 40px #ffffff56, 0 0 55px #ffffff56, 0 0 75px #ffffff56;
}