@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mea+Culpa&family=Inter:wght@100..900&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-principal {
    display: flex;
    justify-content: space-between;
}

.container-principal img {
    /* width: 49.9%; */
    width: 50%;
    height: auto;
    transition: transform .5s ease;
    cursor: url('/icon/gta-pointer.cur'), auto;
}

.container-principal img:hover {
    transform: scale(0.99);
    z-index: 98;
}

#faixa {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: #000000;
    font-family: "Roboto", cursive;
    font-weight: 300;
}

/* .section-botões {
    display: flex;
    height: 900px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.078);
    height: 90px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    
} */

/* -------------------------------------------------------------------------------- */

/* .container-botões {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    font-family: "Mea Culpa", cursive;
}

.container-botões a {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 45px;
    width: 380px;
    border-radius: 15px;
    transition: ease 0.2s;
    text-shadow: 0 0 5px #ffffff56, 0 0 10px #ffffff56, 0 0 1px #ffffff56, 0 0 2px #ffffff56, 0 0 30px #ffffff56, 0 0 40px #ffffff56, 0 0 55px #ffffff56, 0 0 75px #ffffff56;
}

.container-botões a:hover {
    color: #0d0d0d;
    background-color: #fff;
    box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.171);
    -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.171);
    -moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.171);
} */

/* --------------------- */

.container-botões {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    font-family: "Mea Culpa", cursive;
}

.container-botões a {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 45px;
    width: 380px;
    border-radius: 15px;
    transition: ease 0.3s;
    box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.171);
    -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.171);
    -moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.171);
}

.container-botões a:hover {
    color: #fff;
    background-color: #030303;
    text-shadow: 0 0 5px #ffffff56, 0 0 10px #ffffff56, 0 0 1px #ffffff56, 0 0 2px #ffffff56,
        0 0 30px #ffffff56, 0 0 40px #ffffff56, 0 0 55px #ffffff56, 0 0 75px #ffffff56;
    box-shadow: 0px 0px 0px 0px #fff;

    /* text-shadow: 0px 0px 37px rgba(255, 255, 255, 1); */
}

/* --------------------- */

article {
    text-align: center;
    font-size: 20px;
    color: #000000b9;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 100;
}


/* --------------------- */


#container-produtos {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produtos-index {
    display: flex;
    justify-content: space-evenly;
}

.produtos-index .card-produto {
    font-family: "Bree Serif", serif;
    background-color: rgb(255, 255, 255);
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 20px 20px 50px 20px;
    transition: ease 0.2s;
}

.produtos-index .card-produto:hover {
    /* box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.21); */
    cursor: url('/icon/gta-pointer.cur'), auto;
    box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.178);
    -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.178);
    -moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.178);
}

.produtos-index .card-produto img {
    margin-top: 15px;
    width: 270px;
}

.produtos-index .card-produto p {
    padding: 10px 0px 3px 0px;
}

.produtos-index .card-produto #paragrafo-preco {
    color: #144E84;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.produtos-index .botao-style {
    width: 150px;
    /* font-family: "Inter", sans-serif; */
    font-weight: bold;
    background-color: #0d0d0d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
    transition: ease 0.2s;
}

.produtos-index .botao-style:hover {
    /* background-color: #181e36ee; */
    background-color: #0b0b0b;
    text-shadow: 0 0 5px #ffffff56, 0 0 10px #ffffff56, 0 0 1px #ffffff56, 0 0 2px #ffffff56,
        0 0 30px #ffffff56, 0 0 40px #ffffff56, 0 0 55px #ffffff56, 0 0 75px #ffffff56;
}

@media screen and (max-width: 1500px) {
    .produtos-index .card-produto img {
        /* width: 250px; */
        max-height: 220px;
        width: auto;
    }

    #faixa {
        height: 40px;
        font-size: 15px;
    }

    .container-botões {
        height: 150px;
    }

    .container-botões a {
        font-size: 40px;
        padding: 5px 5px;
        width: 280px;
    }
}

/* @media screen and (max-width: 1300px) {
    .produtos-index {
        display: flex;
        flex-wrap: wrap;
    }

    .container-botões {
        display: flex;
        flex-wrap: wrap;
    }
} */

@media screen and (max-width: 670px) {
    .container-principal {
        margin-top: 60px;
    }

    .container-principal :last-child{
        display: none;
    }

    .container-principal img {
        width: 100%;
    }
        
    .container-principal img:hover {
        transform: scale(1.0);
    }

    #faixa {
        height: 30px;
        font-size: 13px;
    }

    .container-botões {
        height: 170px;
        flex-wrap: wrap;
    }

    .container-botões a {
        font-size: 30px;
        width: 180px;
        box-shadow: 0px 0px 42px 11px rgba(91, 91, 91, 0.171);
        -webkit-box-shadow: 0px 0px 42px 11px rgba(139, 139, 139, 0.171);
        -moz-box-shadow: 0px 0px 42px 11px rgba(77, 77, 77, 0.171)
    }

    .container-botões a:hover {
        background-color: #fff;
        color: #030303;
    }

    .produtos-index {
        display: flex;
        flex-wrap: wrap;
    }

    .produtos-index .card-produto {
        width: 170px;
        margin: 5px;
    }

    .produtos-index .card-produto img {
        width: 150px;
    }

    .produtos-index .card-produto p {
        font-size: 12px;
        text-align: center;
        padding: 10px 0px 3px 0px;
    }

    .produtos-index .card-produto #paragrafo-preco {
        color: #144E84;
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    .botao-style {
        width: 100px;
        font-size: 9px;
        margin: 16px;
        padding: 8px 15px;
    }
}


/* .section-botões {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.078);
    height: 300px;
    font-family: "Mea Culpa",
    cursive;
    font-weight: 300;
}

.section-botões ul li {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 380px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.144);
    -webkit-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.144);
    -moz-box-shadow: 0px 0px 42px 11px rgba(0, 0, 0, 0.144);
}


.section-botões ul li a {
    font-size: 60px;
    text-decoration: none;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: #0d0d0d;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin: 12px;
    transition: ease 0.2s;
} */