.header {
    font-family: var(--font-family);
    background-color: #0d0d0d;
    z-index: 998;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    height: 80px;
    width: 100%;
    transition: ease 0.5s;
}

.header:hover {
    height: 80px;
}

.rolado {
    height: 70px;
}

/* --------- componentes do Header --------- */

.divLogo {
    min-width: 4.688rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
    z-index: 999;
}

.logoMobile {
    display: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: 100;
}

.nav a {
    font-size: var(--font-medium-size);
    text-decoration: none;
    color: #ddd;
    transition: ease 0.2s;
    font-weight: 200;
    margin-top: 5px;
}

.nav a:hover {
    color: var(--text-color-light);
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
}

.header path:hover {
    margin-top: -5px;
}

.icone {
    font-size: 1.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.688rem;
    height: 30px;
    color: #d4d4d4;
    transition: ease 0.2s;
}

.iconeMobile {
    display: none;
    background: transparent;
    border: none;
    color: #d4d4d4;
    /* font-size: 1.375rem; */
}

/* .icone:hover {
    transform: translateY(-2px);
}

.icone:active {
    transform: translateY(2px);
} */

/* --------- estilização do dropdown --------- */

.opcaoDropdown {
    position: relative;
    margin: -2.3px 0 0 15px;
}

.opcaoDropdown:hover .dropdownProdutos {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out, visibility 0.5s ease-in-out;
}

.dropdownProdutos {
    background-color: #0d0d0df2;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.5s ease-in-out;
    position: fixed;
    left: 0;
    width: 100vw;
    flex-direction: row;
    padding: 35px 0 1.25rem;
    list-style: none;
    z-index: 998;
}

.dropdownProdutos li {
    list-style: none;
    margin: 5px 0;
    width: 100%;
}

.dropdownProdutos a {
    display: block;
    padding: 1px 0;
    color: #ffffffec;
    text-decoration: none;
}

.dropdownProdutos a:hover {
    color: #a0a0a0;
}

/* --------- media queries --------- */

@media screen and (max-width: 1300px) {
    .header {
        height: 4.688rem;
    }

    .rolado {
        height: 60px;
    }

    .header:hover {
        height: 4.688rem;
    }
}

@media screen and (max-width: 545px) {
    .logo {
        display: none;
    }

    .icone {
        font-size: 25px;
    }

    .logoMobile {
        display: flex;
        height: 40px;
    }

    .iconeMobile {
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.688rem;
        height: 30px;
        color: #d4d4d4;
        transition: ease 0.2s;
    }

    .menuOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 80px;
        height: 100%;
        font-family: 'Lexend', sans-serif;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        /* background-color: #0d0d0de1; */
        z-index: 999;
    }

    .menuContent {
        max-width: 100vh;
        width: 100%;
        text-align: center;
    }

    .menuContent ul {
        background-color: #0d0d0de1;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
        list-style: none;
        color: #ffffffc3;
        padding: 0;
        align-items: start;
        justify-content: start;
    }

    .menuContent li {
        list-style: none;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-bottom: solid 1px white;
    }

    .menuContent li a {
        color: #fff;
        text-decoration: none;
        padding: 28px 100%;
        font-size: 25px;
        margin: 0;
    }

    .menuMobile {
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #0d0d0de1;
        z-index: 1000;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }

    .header {
        /* flex-direction: column; */
        height: 80px;
    }

    .header:hover {
        height: 80px;
    }

    .rolado {
        height: 70px;
    }

    .nav {
        display: none;
    }
}

.menuAside {
    font-family: var(--font-family);
    z-index: 999;
    position: fixed;
    left: -351px;
    padding: 1.25rem;
    transition: left 0.3s ease-in-out;
    top: 0;
    width: 350px;
    height: 100%;
    background: rgba(255, 255, 255, 0.93);
    border-radius: 0 16px 16px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.1);
}

.asideVisivel {
    left: 0;
}

.fecharAside {
    background: transparent;
    border: none;
    font-size: var(--font-large-size);
    cursor: pointer;
}

.inputBusca {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1rem;
}

.inputBusca[type="text"]:focus {
    border-color: #7c7c7c;
    box-shadow: 0 0 5px rgba(127, 127, 127, 0.5);
}

.listaMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.listaMenu li {
    margin: 10px 0 20px;
}

.listaMenu li a {
    color: #212529;
    text-decoration: none;
    font-weight: var(--font-semibold);
}

.listaMenu span {
    color: #212529;
    text-decoration: none;
    font-weight: var(--font-semibold);
}

.categoriaExpandir {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-weight: var(--font-bold);
}

.submenu {
    list-style: none;
    margin-top: 6px;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease-in;
}

.expandir {
    max-height: 500px;
    opacity: 1;
}