.header {
    background-color: #0d0d0d;
    position: fixed;
    display: flex;
    z-index: 998;
    top: 0;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    height: 75px;
    width: 100%;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    transition: ease 0.5s;
}

.header:hover {
    height: 75px;
}

.divLogo {
    min-width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
}

.logoMobile {
    display: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: 100;
}

.nav a {
    font-size: 17px;
    text-decoration: none;
    color: #ddd;
    margin: 0 20px;
    transition: ease 0.2s;
    font-weight: 200;
    margin-top: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header path {
    fill: #d4d4d4;
    transition: ease 0.2s;
}

.icone:hover path {
    fill: #fff;
}

.icone {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;
    color: #d4d4d4;
    transition: ease 0.2s;
}

.iconeMobile {
    display: none;
}

/* .icone:hover {
    transform: translateY(-2px);
}

.icone:active {
    transform: translateY(2px);
} */

.header path:hover {
    margin-top: -5px;
}

.nav a:hover {
    color: #fff;
}

.opcaoDropdown {
    position: relative;
    margin: -2.3px 0 0 15px;
}

.opcaoDropdown:hover .dropdownProdutos {
    display: flex;
}

.dropdownProdutos {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    background-color: #0d0d0de1;
    z-index: 999;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    list-style: none;
}

.dropdownProdutos li {
    list-style: none;
    margin: 5px 0;
}

.dropdownProdutos a {
    display: block;
    padding: 1px 0;
    color: #ffffffec;
    text-decoration: none;
}

.dropdownProdutos a:hover {
    color: #a0a0a0;
}

/* ---------- */

@media screen and (max-width: 1300px) {
    .rolado {
        height: 60px;
    }
}

@media screen and (max-width: 545px) {
    .logo {
        display: none;
    }

    .icone {
        font-size: 25px;
    }

    .logoMobile {
        display: flex;
        height: 40px;
    }

    .iconeMobile {
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 30px;
        color: #d4d4d4;
        transition: ease 0.2s;
    }

    .menuOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 80px;
        height: 100%;
        font-family: 'Lexend', sans-serif;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        /* background-color: #0d0d0de1; */
        z-index: 999;
    }

    .menuContent {
        max-width: 100vh;
        width: 100%;
        text-align: center;
    }

    .menuContent ul {
        background-color: #0d0d0de1;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.7px);
        -webkit-backdrop-filter: blur(9.7px);
        list-style: none;
        color: #ffffffc3;
        padding: 0;
        align-items: start;
        justify-content: start;
    }

    .menuContent li {
        list-style: none;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-bottom: solid 1px white;
    }

    .menuContent li a {
        color: #fff;
        text-decoration: none;
        padding: 28px 100%;
        font-size: 25px;
        margin: 0;
    }

    .menuMobile {
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #0d0d0de1;
        z-index: 1000;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }

    .header {
        /* flex-direction: column; */
        height: 80px;
    }

    .header:hover {
        height: 80px;
    }

    .rolado {
        height: 70px;
    }

    .nav {
        display: none;
    }
}